/* 主体 */
#content{
	padding:0px;
}
/* 管理员组 */
#group_div{
	float:left;
	width:35%;
	padding:0px;margin:5px;
}
#group_grid {
	padding:0px
}
#nr_grid{
	float:left;margin:5px;
}
#group_qry{
	float:left;
}
#group_grid_data{
	float:left;
	border:1px rgb(225, 225, 225) solid;margin-top:5px;
}
#group_grid_input{
	float:left;
	margin-top:5px;
}
#group_middle{
	padding:0px;
}
#group_middle > .col-xs-6{
	padding:0px;margin-top:5px;
}
#group_btn{
	float:left;margin-left:5px;
} 
/* 管理员 */
#admin_div{
	float:left;
	padding:0px;
	margin:5px;
	margin-left:0px;
}
#admin_grid {
	padding:0px
}
#admin_nr_grid{
	float:left;margin:5px;
}
#admin_qry{
	
}
#admin_grid_data{
	border:1px rgb(225, 225, 225) solid;margin-top:5px;
}
#admin_grid_input{
	margin-top:5px;
}
#admin_middle{
	padding:0px;
}
#admin_middle > .col-xs-4{
	padding:0px;margin-top:5px;
}
#admin_btn{
	float:left;margin-left:5px;
}