#leftDiv{
	float:left;
	width:300px;
	margin:5px;
	border:0px red solid;
}
#group_info{
	float:left;
	margin:0px;
	height:100%;
	width:100%;
}
#nr_right,#nr_left{
	padding:0px;
	overflow:auto;
	border:0px blue solid;
}
#noUse_system,#Use_system{
	border:0px red solid;
	padding:0px;
}